= form_for @feed do |f|
  %p
    = f.label :title
    = f.text_field :title
  %p
    = f.label :url
    = f.text_field :url
  %p
    = f.label :feed_url
    = f.text_field :feed_url
  %p
    = f.label :etag
    = f.text_field :etag

  %p= f.submit