<h1><%= link_to(enki_config[:title], '/') %></h1>
<% if flash[:error] %><p><%= flash[:error] %></p><% end %>

<h2><%= link_to "Sign in with Google", '/auth/google_oauth2' %></h2>

<% if %w(development test).include?(Rails.env) %>
  <%= form_tag(admin_session_path) do %>
    <p><%= check_box_tag 'bypass_login' %> <label for="bypass_login">Bypass credentials check</label></p>
    <h2><%= button_to "login with bypass power!", action: :create %></h2>
  <% end %>
<% end %>