<div id="summary">
<h1><%= link_to(enki_config[:title], '/') %></h1>
<p class="stats"><%= pluralize(@stats.post_count, 'post') %>, <%= pluralize(@stats.tag_count, 'tag') %></p>
</div>

<div id="recent-posts" class="panel">
<h2>Drafts in progress</h2>
<table>
  <thead>
    <tr>
      <th>Author</th>
      <th>Title</th>
    </tr>
  </thead>
  <tbody>
    <% if @posts.empty? -%>
      <tr><td colspan="5">There are no posts at this time.</td></tr>
    <% else -%>
      <% @posts.each_with_index do |post, i| -%>
        <tr class="<%= cycle('', 'alt') %>">
          <td><%= post.author %></td>
          <td><h3><%= link_to(truncate(post.title, :length => 50), admin_post_path(post)) %></h3></td>
        </tr>
      <% end -%>
    <% end %>
  </tbody>
</table>
</div>
