<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!-- saved from url=(0022)/ -->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml" class="webkit safari mac js">

<%= render :partial => "/shared/head", :locals => {:theme => true} %>

<body>
  <div id="adcrib" style="position: absolute; left: -10000px;"></div>
  <div id="printhead" style="display: none;">
      <h1>quidnunc</h1>
  </div>
  <div id="errorbar" style="display:none;"></div>
  <div id="infobar" style="display:none;"></div>
  <div id="randombar" style="display:none;"></div>

  <%= render :partial => "/shared/header" -%>

<div>

<div id="container" class="centered">
  <div id="sidebar" class="smalltype">

  <%= render partial: "shared/sidebar" %>

  </div>
  <div id="wrapper">

    <%= yield %>

  </div>

  <%= render partial: "shared/footer" %>

</body>
</html>