<h1>Posts</h1>

<h3><%= link_to("(New post)", new_admin_post_path) %></h3>

<table id='posts'>
  <thead>
    <tr>
      <th><%= sortable "published_at", "Published at" %></th>
      <th><%= sortable "title", "Title" %></th>
      <th><%= sortable "author", "Author" %></th>
      <th>Excerpt</th>
      <th>Actions</th>
      <th><%= sortable "published_at", "Publication Status" %></th>
      <th><%= sortable "impressions_count","Amount of views" %></th>
    </tr>
  </thead>

  <tbody>
    <% if @posts.empty? -%>
      <tr><td colspan="5">There are no posts at this time.</td></tr>
    <% else -%>
      <%= render :partial => 'post', :collection => @posts %>
    <% end -%>
  </tbody>

  <tfoot>
      <tr class="pagination">
        <td colspan="7">
          <%= will_paginate(@posts, :previous_label => '« Newer', :next_label => 'Older »') %>
        </td>
      </tr>
  </tfoot>
</table>