<div class='clearfix' id='body_content_left'>  

<%= error_messages_for :contact, :object => @contact, :header_message => "FAIL BABOON BITE YOU NOW" %>

<%= form_for @contact, :as => :crm_contact, :url => subscriptions_path do |f| %>
  <p><%= label_tag "Email address" %><br /><%=  f.text_field :email, {} %></p>
  <p><%= label_tag "First name" %><br /><%=  f.text_field :first_name, {} %></p>
  <p><%= label_tag "Last name" %><br /><%=  f.text_field :last_name, {} %></p>
  
  <p><%= submit_tag "Sign me up!", :id => "subscribe" %></p>
<% end -%>
</div>

<div class='clearfix' id='body_content_right'>  
 <span style="font-weight:bold;">quid•nunc</span> noun /’kwid nengk/

 <div class="definition" style="padding-top: 20px;">
   An inquisitive person that seeks the latest news and/or gossip; someone who is always asking 'What now?' or 'What’s new?' 
 </div>
 <div class="definition" style="padding-top: 20px;">
   Recorded from the early 18th century, the word comes from the Latin quid 'what' + nunc 'now'.
 </div>
</div>