<% form_for :crm_contact, @contact, :url => subscription_path do |f| %>
  <p><%= label_tag "Email address" %><br /><%=  f.text_field :email, {} %></p>
  <p><%= label_tag "First name" %><br /><%=  f.text_field :first_name, {} %></p>
  <p><%= label_tag "Last name" %><br /><%=  f.text_field :last_name, {} %></p>
  
  <p><%= submit_tag "Sign me up!", :id => "subscribe" %></p>
<% end -%>
