<h2><%= link_to_post(post) %></h2>

<div class="entry-body">

<% if post.image.present? %>
  <%= image_tag post.image.url(:small) %>
<% end %>

  <%= raw(post.intro_text_html) %>
  <!-- <%= raw(post.body_html) %> -->
</div>
<div class="meta">
  <ul>
    <li class="date">Posted at <%= format_post_date(post.published_at) if post.published? %></li>
    <li>By <%= post.author %></li>
    <li class="comments"><%= link_to_post_comments post %></li>
    <% unless post.tag_list.empty? -%>
      <li class="tags">Tagged <%= linked_tag_list(post.tag_list) %></li>
    <% end -%>
  </ul>
</div>
