<h2><%= link_to_post(post) %></h2>

<p><%= distance_of_time_in_words_to_now(post.published_at) %> ago</p>

<div class="entry-body">

<% if post.image.present? %>
  <div class="img-container">
    <div>
      <%= image_tag post.image.url(:medium) %>
        <% if post.caption.present? %>
          <span><%= post.caption %><span>
        <% end %>
    </div>
  </div>
<% end %>

  <%= raw(post.intro_text_html) %>
  <% if post.body_html %>
    <%= link_to("[more...]", post_path(post)) %>
  <% end %>
</div>
<div class="meta">
  <ul>
    <li class="date">Posted at <%= format_post_date(post.published_at) if post.published? %>
      <%= updated_time(post) %>
    </li>
    <li>By <%= post.author %></li>
    <% unless post.tag_list.empty? -%>
      <li class="tags">Tagged <%= linked_tag_list(post.tag_list) %></li>
    <% end -%>
    <li><%= link_to(post.title, post_path(post, anchor: "disqus_thread")) %></li>
  </ul>
</div>
