<h2><%= link_to_post(post) %></h2>


<div class="entry-body">

<% if post.image.present? %>
  <%= image_tag post.image.url(:small) %>
<% end %>

  <%= raw(post.intro_text_html) %>
</div>
<div class="meta">
  <ul>
    <li class="date">Posted at <%= format_post_date(post.published_at) if post.published? %>
      <%= updated_time(post) %>
    </li>
    <li>By <%= post.author %></li>
    <% unless post.tag_list.empty? -%>
      <li class="tags">Tagged <%= linked_tag_list(post.tag_list) %></li>
    <% end -%>
    <li><%= link_to(post.title, post_path(post, anchor: "disqus_thread")) %></li>
  </ul>
</div>
