<h2><%= link_to_post(post) %></h2>

<div class="post-intro-header">
  <ul>
    <li class="date">Posted at <%= format_post_date(post.published_at) if post.published? %>
      <%= updated_time(post) %>
    </li>
    <% if post.author == "Russ Bleemer" %>
      <li>By <%= mail_to 'russ.bleemer@quidnuncre.com', "Russ Bleemer" %></li>
    <% else %>
      <li>By <%= post.author %></li>
    <% end %>
  </ul>
</div>

<div class="entry-body">

<% if post.image.present? %>
  <div class="img-container">
    <div>
      <%= image_tag post.image.url(:medium) %>
        <% if post.caption.present? %>
          <span><%= post.caption %><span>
        <% end %>
    </div>
  </div>
<% end %>

  <%= raw(post.intro_text_html) %>
  <% if post.body_html %>
    <%= link_to("[more...]", post_path(post)) %>
  <% end %>
</div>
<div class="front-meta">
  <span class="comment-count"><%= link_to('', post_path(post, anchor: "disqus_thread")) %></span>
</div>
