<% content_for :page_title do -%>
  <%= posts_title(@tag) %>
<% end -%>

<% content_for :head do -%>
  <%= auto_discovery_link_tag(:atom, @tag.nil? ? formatted_posts_path(:format => 'atom') : posts_path(:tag => @tag, :format => 'atom')) %>
<% end -%>

<% if @posts.empty? -%>
	<p>There are no posts yet.</p>
<% else -%>

  <% @posts.each_with_index do |post, i| -%>
   <% if [2,8].include? i %>
    <div class="chitika-in-story">
    <%= render 'layouts/chitika_ad_code_banner' %>
  </div>
   <% end %>
   <div class="post" id="<%= dom_id(post) %>">
     <%= render post %>
   </div>
  <% end -%>

    <tr class="pagination">
      <td colspan="5">
        <%= will_paginate(@posts, :previous_label => '&#10094;', :next_label => '&#10095;') %>
      </td>
    </tr>

  <%= disqus_comment_counts %>

<% end -%>
