<div>Contact us!</div>
<%= form_for @message, :url => contact_path do |form| %>
  <fieldset class="contact-form">
    <div class="contact-field">
      <%= form.label :name %>
      <%= form.text_field :name %>
    </div>
    <div class="contact-field">
      <%= form.label :email %>
      <%= form.text_field :email %>
    </div>
    <div class="contact-field">
      <div><%= form.label :message %></div>
      <%= form.text_area :message, rows: 12 %>
    <div>
      <%= form.submit 'Send' %></div>
  </fieldset>
<% end %>