<% roles_array = [['Writer', 'writer'], ['Editor', 'editor']] %>
<h1>Users</h1>

<h3>logged in as: <%= session[:username] %>, id:<%= session[:user_id] %></h3>

<table id='users'>
  <tbody>
    <% if @users.empty? -%>
      <tr><td colspan="1">There are no users at this time.</td></tr>
    <% else -%>
        <% @users.each do |user| %>
          <%= semantic_form_for([:admin, user]) do |form| -%>
            <%= form.inputs do -%>
              <%= form.input :name -%>
              <%= form.input :email -%>
              <p> User created at: <%= user.created_at %></p>
              <p> User last logged in: <%= user.last_logged_in %></p>
              <%= form.select :role, roles_array -%>
              <%= form.action :submit, :as => :button -%>
            <% end -%>
          <% end -%>


        <% end %>
    <% end -%>
  </tbody>

  <tfoot>
  </tfoot>
</table>


