<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
  <meta charset="utf-8">
  <title><%= html_title yield(:page_title) %></title>
  <%= csrf_meta_tag %>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'application' %>
  <%= yield(:head) %>
</head>
<body>
<div id="top-spacer"> </div>

<div id="header">
  <div id="logo">
      <div class="logo-element"><%= image_tag 'Qlogo-F.png' %></div>
      <div class="logo-element"><%= image_tag 'Dictionary.png' %></div>
  </div>

  <div id="hot-news">
    <div class="hot-headline">Junk in space</div>
    <div class="hot-headline">quidnunc launches to fanfare, applause</div>
  </div>

</div>


  <div id="page_container">

    <div id="ad-container">
      an advertisement appears! Save vs. persuasion or lose 2 gold.
    </div>

    <div id="content">

    <div id="navbar">
      SUBSCRIBE | CALENDAR | SEND US DIRT | CONTACT US
      <form method="get" id="sform" action="http://www.google.com/search">
        <input type="text" id="q" value="search QN" name="q">
        <input type="hidden" name="sitesearch" value="<%= enki_config[:url] %>">
      </form>
      <div id="social-links">FOLLOW QUIDNUNC | Tw | FB | Li</div>
    </div>


      <div id="main">
        <%= yield %>
      </div>

      <div id="navigation">
        <div class="ad-box">YOUR AD HERE.</div>

        <div class="links">
          <h2>Pages</h2>
          <ul>
            <% page_links_for_navigation.each do |link| -%>
              <li><%= link_to(link.name, link.url) %></li>
            <% end -%>
          </ul>

          <% if @tags %>
            <h2>Tag Cloud</h2>

            <div>
              <% tag_cloud(@tags, %w(small-tag med-tag large-tag)) do |tag, css_class| %>
                <%= link_to tag.name, posts_path(:tag => tag.name), class: css_class %>
              <% end %>
            </div>
          <% end %>
        </div>

        <div class="ad-box">YOUR AD HERE.</div>
      </div>

      <div id="footer"><%= enki_config[:title] %>. &#9400;  2013.</div>
    </div>
  </div>
</body>
</html>
