<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
  <meta charset="utf-8">
  <title><%= html_title yield(:page_title) %></title>
  <%= csrf_meta_tag %>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'application' %>
  <%= yield(:head) %>
  <%= render partial: "layouts/ganalytics"  %>
  <%= render partial: "layouts/doubleclick_head_code" %>
</head>
<body>
<div id="top-spacer"> </div>

<div id="header">
  <div id="logo">
    <%= link_to (image_tag 'Qlogo-F.png'), root_path, class: 'logo-element' %>
    <%= link_to (image_tag 'Dictionary.png'), root_path, class: 'logo-element' %>
  </div>

  <% if %w(development test).include?(Rails.env) %>
  <% if @top_posts %>
    <% @top_posts.each do |hot_post| %>
      <div class="hot-headline"><%= hot_post.title %></div>
    <% end %>
  <% end %>
  <% end %>

</div>



  <div id="page_container">

    <div id="ad-container">
      <!-- top-banner -->
      <div id='div-gpt-ad-1386774150760-2' style='width:728px; height:90px;'>
      <script type='text/javascript'>
      googletag.cmd.push(function() { googletag.display('div-gpt-ad-1386774150760-2'); });
      </script>
      </div>
    </div>

    <div id="content">

    <div id="navbar">
      <%= link_to 'SUBSCRIBE', signup_path %> |
      <%= link_to('SEND US TIPS', tipline_path) %> |
      <%= link_to('CONTACT US', contact_path) %>
      <form method="get" id="sform" action="http://www.google.com/search">
        <input type="text" id="q" value="search QN" name="q">
        <input type="hidden" name="sitesearch" value="<%= enki_config[:url] %>">
      </form>
      <div id="social-links">FOLLOW QuidnuncRE: <a href="https://twitter.com/quidnuncre"><%= image_tag 'Twitter_logo_blue.png', alt: 'Twitter' %></a>
       <a href="https://www.facebook.com/QuidnuncRE/"><%= image_tag 'FB-f-Logo__blue_15.png', alt: 'Facebook' %></a> </div>
    </div>


      <div id="main">
        <%= yield %>
      </div>

      <div id="navigation">
        <div class="ad-box">
          <!-- ad-square-upper-right -->
          <div id='div-gpt-ad-1386774150760-1' style='width:250px; height:250px;'>
          <script type='text/javascript'>
          googletag.cmd.push(function() { googletag.display('div-gpt-ad-1386774150760-1'); });
          </script>
          </div>
        </div>

        <div class="links">
          <h2>Pages</h2>
          <ul>
            <% page_links_for_navigation.each do |link| -%>
              <li><%= link_to(link.name, link.url) %></li>
            <% end -%>
          </ul>

          <% if @tags %>
            <div class="tag-cloud">
              <h2>Tags</h2>
              <div>
                <% tag_cloud(@tags, %w(small-tag med-tag large-tag)) do |tag, css_class| %>
                  <%= link_to tag.name, posts_path(:tag => tag.name), class: css_class %>
                <% end %>
              </div>
            </div>
          <% end %>

          <!-- Begin MailChimp Signup Form -->
          <style type="text/css">
            #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif;}
            /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
               We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
          </style>
          <div id="mc_embed_signup-mini">
          <form action="http://herokuapp.us3.list-manage.com/subscribe/post?u=6e437c7449d16f6abc35c325e&amp;id=4a023806c7" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <label for="mce-EMAIL">Subscribe to our mailing list</label>
            <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
          </form>
          </div>

          <!--End mc_embed_signup-->
        </div>

        <div class="ad-box">
          <!-- ad-square-lower-right -->
          <div id='div-gpt-ad-1386774150760-0' style='width:250px; height:250px;'>
          <script type='text/javascript'>
          googletag.cmd.push(function() { googletag.display('div-gpt-ad-1386774150760-0'); });
          </script>
          </div>
        </div>

      </div>

      <div id="footer"><%= enki_config[:title] %>. &#9400;  2013.</div>
    </div>
  </div>
</body>
</html>
