<!DOCTYPE html> 
<html> 
  <head> 
      <title>QuidnuncRE.com</title> 
      <link rel="shortcut icon" href=<%= cms_url("/favicon.ico") %> /> 
      <meta charset='utf-8' /> 

      <link href="/rss/" rel="alternate" title="RSS" type="application/rss+xml" />
      <link href='<%= cms_url("/theme/stylesheets/application.css") %>'
        media="screen" rel="stylesheet" type="text/css" /> 
      <link href='<%= cms_url("/theme/stylesheets/formatting.css") %>' 
        media="screen" rel="stylesheet" type="text/css" /> 
      <link href='<%= cms_url("/stylesheets/theme.css") %>' 
        media="screen" rel="stylesheet" type="text/css" /> 
      <link href='<%= cms_url("/theme/stylesheets/home.css") %>' 
        media="screen" rel="stylesheet" type="text/css" /> 
  </head>
  <body> 
      <link href="/stylesheets/refinery/site_bar.css" 
        media="screen" rel="stylesheet" type="text/css" /> 
      <script src=<%= cms_url("/javascripts/jquery-min.js") %> 
              type="text/javascript"></script> 
      <script src=<%= cms_url("/javascripts/jquery/jquery.corner.js")%> 
              type="text/javascript"></script> 
      <script src=<%= cms_url("/javascripts/refinery/site_bar.js")%> 
              type="text/javascript"></script> 

      <div id='container'> 
        <div id='header_content'> 
          <h1><%= link_to "QuidnuncRE.com", cms_url %></h1> 
        </div> 
        <nav id='menu' class='menu clearfix'> 
          <ul> 
            <li class='first' id='item_0'> <%= link_to "Home", cms_url %></li> 
            <li id='item_1'> <%= link_to "Reports", cms_url("/reports") %></li> 
            <li id='selected item_2'> <%= link_to "Subscribe", subscribe_path %></li> 
            <li class='last' id='item_3'> <%= link_to "Contact", cms_url("/contact-us") %></li> 
          </ul> 
        </nav> 

  <div id="content-container">
    <div id='body_content' class='clearfix'> 
      <div class="flash-messages">
        <div class="flash-message flash-error <%= flash[:error].blank? ? 'hidden' : '' %>">
          <table>
            <tr>
              <td class='flash-text'><%= flash[:error] %></td>
            </tr>
          </table>
        </div>

        <div class="flash-message flash-notice <%= flash[:notice].blank? ? 'hidden' : '' %>">
          <table>
            <tr>
              <td class='flash-text'><%= flash[:notice] %></td>
            </tr>
          </table>
        </div>
      </div>

      <%= yield %>

    </div> 

      <div id='footer'> 
        <div id='footer_content'> 
          <p> 
            Copyright &copy; 2011 QuidnuncRE.com
          </p> 
        </div> 
      </div> 
    </div> 
    </div> 
  </body> 
</html>