<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
  <meta charset="utf-8">
  <title><%= html_title yield(:page_title) %></title>
  <%= csrf_meta_tag %>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= favicon_link_tag '/apple-touch-icon-precomposed.png', rel: 'apple-touch-icon-precomposed', type: 'image/png' %>
  <%= favicon_link_tag '/apple-touch-icon.png', rel: 'apple-touch-icon', type: 'image/png' %>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'application' %>
  <%= yield(:head) %>
  <%= render partial: "layouts/ganalytics"  %>
  <!--[if IE 8]>
    <link rel="stylesheet" type="text/css" href="assets/ie8.css">
  <![endif]-->
</head>
<body>
<div id="header">
  <div id="logo">
    <%= link_to (image_tag 'quidnunc_logo.png'), root_path, class: 'logo-element' %>
    <div id="dictionary">
      <span class="quidnunc">quid&middot;nunc</span>
      <span class="pronunciation">/ˈkwidˌnəNGk/</span>
      <span class="part_of_speech">noun</span>
      <span class="number">1.</span> <span class="definition">A person who constantly seeks the latest news and  information</span>
    </div>
  </div>

  <div id="social_links">
    <span>Follow QuidnuncRE</span>
    <div class="link_wrap">
      <a href="https://www.facebook.com/QuidnuncRE/" class="facebook_top icon" target="_blank"></a>
      <a href="https://twitter.com/quidnuncre" class="twitter_top icon" target="_blank"></a>
    </div>
  </div>
</div>

<div id="navbar">
  <div id="nav_wrap">
    <%= link_to('ARCHIVES', archives_path) %>
    <%= link_to 'SUBSCRIBE', signup_path %>
    <%= link_to('SEND US TIPS', tipline_path) %>
    <%= link_to('CONTACT US', contact_path) %>
    <%= link_to('JOIN US', join_us_path) %>

    <form method="get" id="sform" action="http://www.google.com/search">
      <input type="text" id="q" value="search QN" name="q">
      <input type="hidden" name="sitesearch" value="<%= enki_config[:url] %>">
    </form>
  </div>
</div>

<% if @top_posts %>
  <div class="hot-headline">
    <div class="hot-headline-wrap">
      <% @top_posts.each do |hot_post| %>
        <%= link_to(hot_post.title, post_path(hot_post)) %>
      <% end %>
    </div>
  </div>
<% end %>

  <div id="page_container">
    <!--<div id="ad-container">
      <div id='div-gpt-ad-1386774150760-2' style='width:728px; height:90px;'>
        <%#= render partial: "layouts/chitika_ad_code_leaderboard" %>
      </div>
    </div>-->
    <div id="content">
      <div id="main">
        <p><% if flash[:notice] %><p><%= flash[:notice] %></p><% end %><p>
        <%= yield %>
      </div>

      <div id="navigation">
        <div id="mc_embed_signup-mini">
          <form action="http://herokuapp.us3.list-manage.com/subscribe/post?u=6e437c7449d16f6abc35c325e&amp;id=4a023806c7" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <label for="mce-EMAIL">Subscribe to our mailing list</label>
            <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
          </form>
        </div>

        <div class="ad-box">
          <!-- ad-square-upper-right -->
          <%= render partial: "layouts/chitika_ad_code_250" %>
        </div>

        <div class="links">
          <!-- Begin MailChimp Signup Form -->
          <style type="text/css">
            #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif;}
            /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
               We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
          </style>
          <!--End mc_embed_signup-->
        </div>

        <div class="ad-box">
          <!-- ad-square-lower-right -->
          <%= render partial: "layouts/chitika_ad_code_250" %>
        </div>

      </div>
    </div>
    <div id="footer">
      <div class="footer_wrap">
        <%= enki_config[:title] %>. &#9400;  2013.
      </div>
    </div>
  </div>
</body>
</html>
